src/conf/xml-resources/jaxb/RoomType/room.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xsd:element name="room" type="roomType" />
    <xsd:complexType name="roomType">
        <xsd:sequence>
            <xsd:element name="roomId" type="xsd:int"/>
            <xsd:element name="roomName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
